body{
	background-color:#FF9999;
}

h1{
	font-style: italic;
	color: gray;
	text-align: center;
}

hr{
	/* Length and width of the horizontal line.*/
	width: 40%;
	height: 1px;
	
	/* The border settings of the horizontal line. */
	background-color:#E0E0E0;
	border: solid #E0E0E0;
	border-radius: 1px;
}

input[type=button]{
	
  /* Button borders. */
  border: solid #E0E0E0;
  border-radius: 5px;
  
  /* Button size and positioning information. */
  width: 300px;
  height: 100px;
  margin: 20px; 
  
  background-color: white;
  
  /* The properties of the text on the button. */
  color: #E0E0E0;
  font-size: 18px;

  /* Button is hand clickable.	*/
  cursor: pointer;
}

button.link {
	background:none; 
	border:none;
  	/* Button is hand clickable.	*/
  	cursor: pointer;
	
	/* The properties of the text on the button. */
	color: gray;
	font-size: 15px;
	font-style: italic;
 	font-weight: bold;
	font-family: Calibri, sans-serif;
	text-align: center;
	
	/*	Bir elementi yatay olarak ortalama, div kullanmadan	*/
	display: grid;  
	margin: auto;
	
	/* Önceki ve sonraki elementler ile arasına dolgu ekliyoruz */
	padding: 2.5%;
}

label {
	/* Labeli input elementin üstünde konumlandırır. */
    display: block;
    /* Labeldeki yazıyı sola yaslar. */
    text-align: left;
	/* Yazı stili ayarlarıdır. */
	color: gray;
  	font-style: italic;
  	font-weight: bold;
  	font-family: Calibri, sans-serif;
  	/* Sonraki element ile arasındaki boşluk farkıdır. */
    padding-bottom: 2%;
}

input{
	width: 400px;
	height: 25px;
}

/*--------- Class attribute definitions ----------*/

.outer{
	/* Border settings */
	border: solid #E0E0E0 5px;
	margin: 5px;
	
	/* Content settings. */
	background-color:white;	
	
	/* Expand over the entire section. */
	position: absolute; 
	top: 0; bottom: 0; left: 0; right: 0;
}

.page_section{
	/* Center all elements in div element. */
	margin: 7.5% auto auto auto;
}

.form_section{
	margin: 4% auto auto auto;
}

.buttons_section{
	/* Bir div element içerisindeki tüm elementleri yatay olarak merkezde toplar.	*/
	display: table;
 	margin: 0 auto;
}

.input_section{
	/* Bir div element içerisindeki tüm elementleri yatay olarak merkezde toplar.	*/
 	display: table;
 	margin: 0 auto;
 	/* Diğer elementler arasındaki aralık mesafesini ayarlar.*/
 	padding: .5%;
}
