body{
	background-color:#FF9999;
}

h1{
	font-style: italic;
	color: gray;
	text-align: center;
}

hr{
	/* Length and width of the horizontal line.*/
	width: 40%;
	height: 1px;
	
	/* The border settings of the horizontal line. */
	background-color:#E0E0E0;
	border: solid #E0E0E0;
	border-radius: 1px;
}

input[type=button]{
	
  /* Button borders. */
  border: solid #E0E0E0;
  border-radius: 5px;
  
  /* Button size and positioning information. */
  width: 300px;
  height: 100px;
  margin: 20px; 
  
  background-color: white;
  
  /* The properties of the text on the button. */
  color: #E0E0E0;
  font-size: 18px;

  /* Button is hand clickable.	*/
  cursor: pointer;
}

button.link {
	background:none; 
	border:none;
  	/* Button is hand clickable.	*/
  	cursor: pointer;
	
	/* The properties of the text on the button. */
	color: gray;
	font-size: 15px;
	font-style: italic;
 	font-weight: bold;
	font-family: Calibri, sans-serif;
	text-align: center;
	
	/*	Center an element horizontally without using a div	*/
	display: grid;  
	margin: auto;
	
	/* We add padding between the previous, next elements */
	padding: 2.5%;
}

label {
	/* Position the label above the input element */
    display: block;
    /* Aligns the text on the label to the left. */
    text-align: left;
	/* Font style settings. */
	color: gray;
  	font-style: italic;
  	font-weight: bold;
  	font-family: Calibri, sans-serif;
  	/* Spacing with the next element. */
    padding-bottom: 2%;
}

input{
	width: 400px;
	height: 25px;
}

fieldset{
	border: solid #E0E0E0;
	
	width: 100%;
	height: 90%;
	
	/* We add a scroll bar to the fieldset. */

	/* If we wanted the scroll bar to stay constantly, we should use this.
	    overflow:scroll;
	*/
 	overflow: auto;
    overflow-x:hidden;
}

legend{
	border: solid #E0E0E0;
	
	/* Font style settings. */
	color: gray;
  	font-style: italic;
  	font-weight: bold;
  	font-family: Calibri, sans-serif;
}

/*--------- Class attribute definitions ----------*/

.outer{
	/* Border settings */
	border: solid #E0E0E0 5px;
	margin: 5px;
	
	/* Content settings. */
	background-color:white;	
	
	/* Expand over the entire section. */
	position: absolute; 
	top: 0; bottom: 0; left: 0; right: 0;
}

.page_section{
	/* Center all elements in div element. */
	margin: 7.5% auto auto auto;
}

.form_section{
	margin: 4% auto auto auto;
}

.buttons_section{
	/* Centers all elements in a div element horizontally.	*/
	display: table;
 	margin: 0 auto;
}

.input_section{
	/*  Centers all elements in a div element horizontally.	*/
 	display: table;
 	margin: 0 auto;
 	/* Sets the padding between other elements.*/
 	padding: .5%;
}

.order_list{
	width: 50%;
	height: 54%;

 	display: table;
 	margin: 1% auto 0 auto;
}

/* entry_section (a order entry): table */
/* order_entry_section: table-row */
/* order_name and user_choices:  table-cell */

.entry_section{	
	display:table;
	/* If we choose display: table, these followings are required instead of margin between row and cell. */
	border-spacing: 5px;
    border-collapse: separate;	
	padding: 5px;
	
	width: 96%;
	height: 9%;
	
	border: solid #E0E0E0 1px;	
}

.order_entry_section{
	display:table-row;
	/* padding: 5px; */

	width: 96%;
	height: 9%;
	
	border: solid #E0E0E0 1px;
}

.order_name{	
	display: table-cell;
	
	/* We don't need to enter a width value for the div, it already covers all the remaining space from the other cell.*/
	
	color: gray;
  	font-style: italic;
  	font-weight: bold;
  	font-family: Calibri, sans-serif;
  	text-align: left;
}

.user_choices{
	/* horizontal order. */
	display: table-cell;
	
	/* dimensions by parent block */
	width: 8%;
	
	border: solid #E0E0E0 1px;
	
	/* Font style settings. */
	color: gray;
  	font-style: italic;
  	font-weight: bold;
  	font-family: Calibri, sans-serif;
  	text-align: center;
  	
  	cursor: pointer;
}

.not_found_order{
	height:100%;
	/*	First, we horizontally center the span (content) inside the div  with adding right-left margin.	*/
	display:table;
    margin-left: auto;
    margin-right: auto;

	color: gray;
  	font-style: italic;
  	font-weight: bold;
  	font-family: Calibri, sans-serif;
}

.center_text{
	/* Then we vertically center the span which is content of the div. */
	display:table-cell;
	vertical-align: middle;
}

/*--------- Custom scroll bar settings ----------*/

/* Settings the scroll bar width. */
::-webkit-scrollbar {
  width: 10px;
}

/* Settings the entire of the scroll bar section. */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Scroll bar itself */
::-webkit-scrollbar-thumb {
  background: #FF9999; 
  border-radius: 5px;
}

/* Color change when holding the scroll bar. */
::-webkit-scrollbar-thumb:hover {
  background: gray; 
}
